[submodule "releases"]
	path = releases
	url = https://github.com/un-pogaz/MC-generated-data-module-releases.git
[submodule "specials"]
	path = specials
	url = https://github.com/un-pogaz/MC-generated-data-module-specials.git
[submodule "snapshots/1.3"]
	path = snapshots/1.3
	url = https://github.com/un-pogaz/MC-generated-data-module-1.3.git
