[submodule "releases"]
	path = releases
	url = https://github.com/un-pogaz/MC-generated-data.git
	branch = releases
[submodule "specials"]
	path = specials
	url = https://github.com/un-pogaz/MC-generated-data.git
	branch = specials
[submodule "snapshots/1.3"]
	path = snapshots/1.3
	url = https://github.com/un-pogaz/MC-generated-data.git
	branch = snapshots/1.3
[submodule "snapshots/1.4"]
	path = snapshots/1.4
	url = https://github.com/un-pogaz/MC-generated-data.git
	branch = snapshots/1.4
[submodule "snapshots/1.5"]
	path = snapshots/1.5
	url = https://github.com/un-pogaz/MC-generated-data.git
	branch = snapshots/1.5
[submodule "snapshots/1.6"]
	path = snapshots/1.6
	url = https://github.com/un-pogaz/MC-generated-data.git
	branch = snapshots/1.6
[submodule "snapshots/1.7"]
	path = snapshots/1.7
	url = https://github.com/un-pogaz/MC-generated-data.git
	branch = snapshots/1.7
[submodule "snapshots/1.8"]
	path = snapshots/1.8
	url = https://github.com/un-pogaz/MC-generated-data.git
	branch = snapshots/1.8
[submodule "snapshots/1.9"]
	path = snapshots/1.9
	url = https://github.com/un-pogaz/MC-generated-data.git
	branch = snapshots/1.9
[submodule "snapshots/1.10"]
	path = snapshots/1.10
	url = https://github.com/un-pogaz/MC-generated-data.git
	branch = snapshots/1.10
[submodule "snapshots/1.11"]
	path = snapshots/1.11
	url = https://github.com/un-pogaz/MC-generated-data.git
	branch = snapshots/1.11
